@model X.PagedList.IPagedList<Feedback>
@using X.PagedList.Mvc.Core
<!-- Pagination Controls -->


@{
    if (Model.Any())
    {
     <div class="d-flex justify-content-center">
    @Html.PagedListPager(Model, page => "#", new PagedListRenderOptions
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToIndividualPages = true,
        MaximumPageNumbersToDisplay = 5,
        UlElementClasses = new[] { "pagination" },
        LiElementClasses = new[] { "page-item" },       
        ActiveLiElementClass = "active",
        LinkToPreviousPageFormat = "<a class='page-link' href='#' data-page='{0}'>&laquo;</a>",
        LinkToNextPageFormat = "<a class='page-link' href='#' data-page='{0}'>&raquo;</a>",
        LinkToFirstPageFormat = "<a class='page-link' href='#' data-page='{0}'>First</a>",
        LinkToLastPageFormat = "<a class='page-link' href='#' data-page='{0}'>Last</a>",
        FunctionToDisplayEachPageNumber = page => $"<a class='page-link' href='#' data-page='{page}'>{page}</a>",
        EllipsesElementClass = "page-link"
        })
</div>
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m[0].Id)</th>
            <th>@Html.DisplayNameFor(m => m[0].Name)</th>
            <th>@Html.DisplayNameFor(m => m[0].Email)</th>
            <th>@Html.DisplayNameFor(m => m[0].Mobile)</th>
            <th>@Html.DisplayNameFor(m => m[0].Message)</th>
            <th>@Html.DisplayNameFor(m => m[0].Url)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Mobile</td>
                <td>@item.Message</td>
                <td>
                    @{
                        if (item.Url != "")
                        {
                            <a href="~/uploads/@item.Url" target="_blank">Download</a>
                        }
                        else
                        {
                            <span>NA</span>
                        }
                    }
                </td>
                <td style="width:90px">
                    <a href="#" class="btn btn-sm btn-warning edit-btn" data-id="@item.Id" title="Edit"><i class="bi bi-pencil-square"></i></a> 

                    <a href="#" class="btn btn-sm btn-danger delete-btn" data-id="@item.Id" title="Delete"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
        </table>
    }
    else
    {
        <span>No Data</span>
    }
}


 