@model IEnumerable<AlbumViewDTO>
@inject IConfiguration config
@{
    ViewData["Title"] = "Album Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">New Album</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <a asp-action="PhotoGallery" asp-route-id="@item.Id">
                <img src="~/@config["Uploading:PhotoUpload"]/@item.CoverImageUrl" alt="@item.Title" style="max-width: 100px; max-height: 100px;" />
            </a><br />
            @Html.DisplayFor(modelItem => item.Title)&nbsp;
            @Html.DisplayFor(modelItem => item.Description)<br />
            @Html.DisplayFor(modelItem => item.CreatedOn)<br />
            Total Photos: @Html.DisplayFor(modelItem => item.TotalPhotos)<br />
            <a asp-action="AddPhoto"><i class="bi bi-cloud-arrow-up text-primary"></i></a> | 
            <a asp-action="PhotoGallery" asp-route-id="@item.Id"><i class="bi bi-journal-album text-primary"></i></a> | 
            <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash text-danger"></i></a>
        </div>
    }

</div>