@* @model IEnumerable<Photo> *@
@model X.PagedList.IPagedList<Photo>
@using X.PagedList.Mvc.Core
@inject IConfiguration config
@{
    ViewData["Title"] = "Photo Gallery";
}
<style>
    <link rel="stylesheet" href="~/vendors/zoomify/zoomify.css" />
       
        .float-end {
            position: relative !important;
            float: right !important;
            top: -9px !important;
            right: -9px !important;
        }
</style>
<h1> @ViewData["Title"] : @ViewData["AlbumTitle"]</h1>

<p>
    <a asp-action="AddPhoto">Add New</a> | <a asp-action="Index">Albums</a>
</p>

<div class="row">
    @{
        var id = Context.Request.RouteValues["id"]?.ToString();
        foreach (var item in Model)
        {
            <div class="col-md-3 mb-2">
                <div class="card shadow-sm" style="max-height: 170px;">
                    <div class="card-body text-center p-2">
                        @if (User.Identity!.IsAuthenticated)
                        {
                            <form asp-action="PhotoDelete">
                                <input type="hidden" name="albumid" value="@id" />
                                <input type="hidden" name="id" value="@item.Id" />
                                @Html.AntiForgeryToken()
                                <input type="submit" value="X" class="btn btn-sm btn-danger px-2 py-0 float-end" onclick="return confirm('Are you sure to delete it?')" />
                            </form>
                        }
                        <img src="~/@config["Uploading:PhotoUpload"]/@item.ImageUrl" class="img img-fluid rounded-3" style="max-height: 100px;" alt="@item.Title"><br />
                        <span class="text-muted" style="font-size:10px">@item.Title</span>
                 
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Pagination Controls -->
        <div class="text-center">
            @Html.PagedListPager(Model, page => Url.Action("PhotoGallery", new { page,id }),
            new PagedListRenderOptions
            {
                DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToIndividualPages = true,
                MaximumPageNumbersToDisplay = 5,
                ClassToApplyToFirstListItemInPager = "page-item",
                ClassToApplyToLastListItemInPager = "page-item",
                LinkToPreviousPageFormat = "«",
                LinkToNextPageFormat = "»",
                UlElementClasses = new[] { "pagination" },
                PageClasses = new[] { "page-link" }
            })
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/vendors/zoomify/zoomify.js"></script>
    <script>
        $(document).ready(function () {
            $('.img').zoomify({
                zoomFactor: 2,
                transitionDuration: 300,
                enableZoomOnClick: true,
                enableZoomOnHover: false
            });
                });
    </script>
}